.section {
  margin-top: 6rem;
  padding-top: 2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 128, 128, 0.12));
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.title {
 padding-bottom: 5rem;
 font-size: 4rem;
 color: #191919;
 text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
 letter-spacing: 1px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 37.5em) {  /* 600px */
  .title {
    font-size: 3.3rem;
  }
}

@media (max-width: 25em) {  /* 400px */
  .title {
    padding-bottom: 0;
    font-size: 3rem;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
  }
}