html,
body {
  padding: 0;
  margin: 0;
  font-family: Noto Sans, sans-serif;

  }

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  letter-spacing: .1px;
}

* {
  box-sizing: border-box;
  margin: 0;
}


/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


/* 62.5em = 1000px */
@media (max-width: 37.5em) {  /* 600px */
  body {
    font-size: 1.5rem;
  }
} 

@media (max-width: 25em) {  /* 400px */
  body {
    font-size: 1.3rem;
  }
}
