.main {
  background-color: #e7ded9;
  background-image: linear-gradient(to bottom, #e7ded9 100vh, white , #e7ded9);

}


/* 
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */


/* 
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
